<html>

<head>
    <title>OpenAI Completion Flask App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="hourglass-overlay">
        <div class="hourglass"></div>
    </div>

    <h1>Welcome to the OpenAI Flask App!</h1>
    <div id="conversation-history"></div>
    <div class="response-container">
        <div class="response">
        </div>
    </div>

    </div>

    <div id="prompt-container">
        <textarea id="prompt"></textarea>
        <div class="button-container">
            <button class="send" onclick="submitPrompt()">
                <i class="material-icons">send</i>
            </button>
            <button class="stop" onclick="stopCompletion()" disabled style="display: none;">
                <i class="material-icons">stop</i>
            </button>
        </div>
    </div>

    <script>
        const model = "{{ config['OPENAI_MODEL'] }}";
    </script>
    <script src="/static/chat.js"></script>

</body>

</html>